@use "~/styles/helpers" as *;

.logo {
	@include flex-center;

	column-gap: rem(20);

	&__link {
		width: rem(178);
		height: rem(35);

		@include hover(false) {
			opacity: 0.6;
		}

		&:active {
			opacity: 0.3;
		}
	}

	&__text {
		font-size: rem(12);
		line-height: 1.08;
		letter-spacing: 0.01em;
		max-width: rem(140);
		color: rgba(29, 29, 29, 0.7);

		@include tablet {
			display: none;
		}
	}
}