@use "~/styles/helpers" as *;

.sort-dropdown-field {
  display: flex;
  align-items: start;
  padding: rem(15) rem(20);
  width: 100%;
  border-radius: var(--border-radius-small);
  position: relative;

  &:has(.sort-dropdown-field__input--checked) {
    .sort-dropdown-field__label {
      color: var(--color-accent);
    }
  }

  @include hover(false) {
    background-color: var(--color-gray-100);
  }

  &__input {
    appearance: none;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      cursor: pointer;
    }
  }

  &__label {
    font-size: rem(14);
    line-height: 143%;
  }
}
