@use "~/styles/helpers/" as *;

.cross-button {
  @include button-reset;
  @include flex-center(true);
  @include square(rem(20));

  position: absolute;
  color: var(--color-gray-80);

  @include hover(false) {
    color: var(--color-dark);
  }

  &:active {
    opacity: 0.6;
  }

  &--large {
    @include square(rem(35));

    svg {
      width: 100%;
      height: 100%;
    }

    @include hover {
      color: var(--color-light);
    }
  }

  &--hover-effect-small {
    @include hover(false) {
      color: var(--color-dark);
    }

    &:active {
      opacity: 0.6;
    }
  }
}
