@use "~/styles/helpers" as *;

.sort {
  position: relative;

	@include mobile {
		width: 100%;
	}

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
