@use "~/styles/helpers" as *;

.dropdown {
  padding: rem(20) rem(15);
  box-shadow: var(--shadow);
  background-color: var(--color-light);
  border-radius: var(--border-radius-small);
  width: rem(280);
  z-index: 800;

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: rem(5);
  }
}
