@use "~/styles/helpers/" as *;

.footer-copyright {
	display: flex;
	justify-content: space-between;
	align-items: end;

	@include mobile {
		flex-direction: column;
		align-items: start;
		row-gap: rem(20);
	}

	&__link,
	&__text {
		opacity: 0.6;
	}

	&__link {
		@include hover(false) {
			opacity: 1;
		}

		&:active {
			opacity: 0.3;
		}
	}

	&__countries {
		display: flex;
		align-items: center;
		column-gap: rem(15);
		position: relative;

		.footer-copyright__link {
			&:nth-child(1) {
				order: 1;
			}

			&:nth-child(2) {
				order: 3;
			}
		}

		&::before {
			content: "";
			height: rem(15);
			width: rem(1);
			background-color: var(--color-accent-light);
			opacity: 0.15;
			order: 2;
		}
	}

	&__links {
		display: flex;
		column-gap: rem(30);

		@include mobile-s {
			flex-direction: column;
			row-gap: rem(5);
		}

		& * {
			width: rem(300);

			@include tablet {
				width: rem(200);
			}

			@include mobile-s {
				width: 100%;
			}
		}
	}
}