@use "~/styles/helpers/" as *;

.button {
  @include button-reset;
  @include flex-center(true);

  height: var(--button-height);
  background-color: var(--color-accent);
  padding-inline: rem(30);
  border-radius: var(--border-radius-small);
  color: var(--color-light);
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: -0.02em;

  @include hover(false) {
    background-color: var(--color-accent-hover);
  }

  &:active {
    color: rgba(253, 253, 253, 0.6);
  }

  &--large {
    padding-inline: rem(40);
    height: var(--button-height-large);
  }

  &--badge {
    padding-inline: rem(8);
    height: var(--button-height-small);
    font-weight: 400;
    font-size: rem(12);
    line-height: 1.08;
    letter-spacing: 0.01em;
  }

  &--disabled {
    background-color: var(--color-gray-90);
    color: var(--color-gray-80);
    pointer-events: none;
  }

  &--transparent {
    background-color: transparent;
    color: var(--color-accent);
    border: var(--border);

    @include hover(false) {
      color: var(--color-light);
    }

    &:active {
      color: rgba(253, 253, 253, 0.6);
    }
  }
}
