@use "~/styles/helpers" as *;

.sort-button {
	@include button-reset;

  display: flex;
	align-items: center;
	border-radius: var(--border-radius-small);
  column-gap: rem(5);
  height: var(--filter-button-height);
  background-color: var(--color-gray-100);
  padding-inline: rem(15);
  font-size: rem(14);
  line-height: 1.07;

	@include hover(false) {
		background-color: var(--color-gray-90);
	}

	&:active {
		background-color: var(--color-gray-60);
		color: var(--color-light)
	}

	svg * {
		fill: currentColor
	}
}
