@use "~/styles/helpers/" as *;

.products-card {
  position: relative;
  border-radius: var(--border-radius);

  @include desktop {
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--border-radius);
  }

  @include hover(false) {
    &::after {
      box-shadow: var(--shadow);
      height: rem(578);
    }

    .products-card__image {
      opacity: 0;
    }

    .products-card__image-hover {
      opacity: 1;
    }

    .products-card__info {
      display: flex;
      opacity: 1;
    }

    .products-card__link {
      height: rem(578);
    }
  }

  &__image {
    @include square(rem(250));

    transition-duration: var(--transition-duration);

    @include mobile {
      @include square(rem(175));
    }

    @include mobile-s {
      @include square(rem(140));
    }

    &-wrapper {
      @include flex-center;

      height: rem(300);
      width: 100%;
      padding: rem(25);
      background-color: var(--color-accent-light);
      border-radius: var(--border-radius);
      position: relative;

      @include mobile {
        height: rem(250);
        padding: rem(16);
      }

      @include mobile-s {
        height: rem(200);
      }

      .button {
        position: absolute;
        top: rem(20);
        left: rem(20);
      }
    }

    &-hover {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      transition-duration: var(--transition-duration);
    }
  }

  &__body {
    padding: rem(20) rem(15) 0;
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
  }

  &__title {
    font-weight: 400;
    font-size: rem(16);
    line-height: 1.56;
    letter-spacing: -0.02em;
    max-width: rem(260);
    z-index: 100;

    @include desktop {
      max-width: 100%;
    }
  }

  &__price {
    font-weight: 600;
    font-size: rem(18);
    line-height: 1.39;
    letter-spacing: -0.02em;
    z-index: 100;
  }

  &__ruble {
    color: var(--color-gray-60);
  }

  &__info {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-light);
    padding: rem(20) rem(15) rem(25);
    display: none;
    flex-direction: column;
    row-gap: rem(40);
    opacity: 0;
    transition-duration: var(--transition-duration);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
		z-index: 2;
  }

  &__sizes {
    display: flex;
    column-gap: rem(37);
  }

  &__size {
    display: flex;
    flex-direction: column;
    row-gap: rem(5);
    position: relative;
    z-index: 100;

    &:not(:last-child) {
      &::after {
        content: "x";
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: rem(-22);
        font-size: rem(12);
        line-height: 1.08;
        letter-spacing: 0.01em;
        color: var(--color-gray-60);
      }
    }

    &-title {
      font-size: rem(12);
      line-height: 1.08;
      letter-spacing: 0.01em;
      color: var(--color-gray-60);
    }

    &-value {
      font-size: rem(14);
      line-height: 1.07;
    }
  }

  &__buttons {
    display: flex;
    column-gap: rem(10);
    z-index: 100;

    .button {
      flex-grow: 1;
    }
  }

  &__link {
    position: absolute;
    inset: 0;
    // z-index: 2;
  }
}
