@use "~/styles/helpers/" as *;

.about {
	&__image {
		border-radius: var(--border-radius-large);
		max-width: rem(1290);
		width: 100%;
		min-height: rem(370);
		height: 100%;
		object-fit: contain;

		@include tablet {
			object-fit: cover;
		}
	}
}