@use "~/styles/helpers" as *;

.notification {
  position: fixed;
  right: rem(-500);
  top: rem(100);
  z-index: 900;
  background-color: var(--color-light);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  padding: rem(20) rem(45) rem(20) rem(20);
  max-width: rem(444);
  transition-duration: var(--transition-duration);

  &--visible {
    right: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    column-gap: rem(15);
  }

  &__wrapper-image {
    @include square(rem(65));
    @include flex-center(true);

    min-width: rem(65);
    padding: rem(4);
    border-radius: var(--border-radius-small);
    background-color: var(--color-accent-light);
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__text {
    font-size: 14px;
    line-height: 1.43;
  }

  &__link {
    color: var(--color-accent);
  }
}
