@use "~/styles/helpers/" as *;

.steps-card {
  background-color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: rem(40);
  padding-right: rem(150);
	border-radius: var(--border-radius-large);

	@include tablet {
		padding-right: rem(75);
	}

	@include mobile {
		flex-direction: column;
		padding-right: 0;
		align-items: start;
	}

	&__image {
		border-radius: var(--border-radius-large);
		max-width: rem(630);
		max-height: rem(540);
		object-fit: cover;

		@include desktop {
			max-width: rem(500);
		}

		@include tablet {
			max-width: rem(350);
		}

		@include mobile {
			width: 100%;
			max-width: rem(700);
			max-height: rem(300);
			border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
		}
	}

  &__body {
    max-width: rem(410);

		@include mobile {
			padding: rem(50) rem(30);
			max-width: 100%
		}
  }

  &__number {
    @include flex-center(true);
    @include square(rem(35));

    font-weight: 500;
    font-size: rem(14);
    line-height: 1.07;
    color: var(--color-accent-dark);
    margin-bottom: rem(20);
		background-color: var(--color-accent-light);
		border-radius: 50%;
  }

  &__title {
    margin-bottom: rem(10);
  }
}
