@use "~/styles/helpers/" as *;

.modal-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: none;
  background-color: transparent;
	
	&:focus-visible {
		outline: 0;
	}
	
  &__inner {
		position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
		
  }
	
  &__content {
		width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;


  }

  .cross-button {
    @include mobile {
      top: rem(-35);
      right: rem(-35);
    }
  }
}
