@use "~/styles/helpers" as *;

.cart-card-action-button {
  @include button-reset;
  @include flex-center;

  font-size: rem(12);
  line-height: 1.08;
  letter-spacing: 0.01em;
  color: var(--color-gray-60);

  &--compare {
    @include hover {
      color: var(--color-accent);
    }
  }

  &--delete {
    @include hover {
      color: var(--color-error);
    }
  }

  &:active {
    opacity: 0.6;
  }
}
