@use "~/styles/helpers/" as *;

.facts {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(30);

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
    }

    @include mobile {
      gap: rem(15);
    }
  }
}
