@use "~/styles/helpers/" as *;

.machine {
  &__video-wrapper {
    height: rem(540);
    position: relative;
    border-radius: var(--border-radius-large);
		overflow: hidden;

		@include mobile {
			height: rem(450);
		}

    @include hover(false) {
      &::after {
				opacity: 0.8;
			}
    }

    &:active {
      &::after {
				opacity: 0.9;
			}
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--color-dark);
      opacity: 0.7;
      border-radius: inherit;
      transition-duration: var(--transition-duration);
    }
  }

  &__video {
    filter: blur(5px);
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
}
