@use "~/styles/helpers" as *;

.button-square {
  @include button-reset;
  @include flex-center;
  @include square(rem(40));

  background-color: var(--color-accent-light);
  border-radius: 10px;
  color: var(--color-accent-dark);
  padding: rem(10);
	position: relative;

  @include hover(false) {
    color: var(--color-accent);
  }

  &:active {
    svg * {
      opacity: 0.6;
    }
  }

  &--large {
    @include square(var(--button-height));

    color: var(--color-accent);
    background-color: var(--color-light);
    border: var(--border);

    @include hover(false) {
      color: var(--color-light);
      background-color: var(--color-accent-hover);
    }

    &:active {
      svg * {
        opacity: 0.6;
      }
    }
  }

  &--disabled {
    pointer-events: none;

    svg * {
      opacity: 0.3;
    }
  }

  &--desktop-hidden {
    display: none;

    @include mobile {
      display: flex;
    }
  }

  &--mobile-hidden {
    @include mobile {
      display: none;
    }
  }

  &__badge {
    @include flex-center(true);
    @include square(rem(18));

    border-radius: 50%;
    background-color: var(--color-accent-dark);
		position: absolute;
		top: rem(-6);
		right: rem(-4);
  }

  &__products-count {
    font-size: rem(12);
    line-height: 1.08;
    letter-spacing: 0.01em;
    color: var(--color-accent-light);
  }
}
